nav{
    display:flex;
    justify-content: space-between;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

nav ul{
    display:flex;
    list-style: none;
    gap:24px;
    padding: 0 8px;
    font-weight: 500;

}

.logo {
    width: 100px;
    height: auto;
}